
{% include './header.html' %}
{% include './notes_header.html' %}


{% for notes in object_list %}


    <div class="card p-3 mb-3 {{notes.urgency}}">
        <blockquote class="blockquote mb-0 card-body">
          <h5 class="card-title">{{ notes.title }}</h5>
          <p>{{ notes.content }}</p>
          <p>Last updated:{{notes.updated_at}} </p>
          <a href="{% url 'notes_delete' notes.id %}"><i class="far fa-check-circle fa-lg" style="color: white;"></i></a>
          &nbsp<a href="{% url 'notes_edit' notes.id %}"><i class="far fa-edit fa-lg" style="color: white;"></i></a>
        </blockquote>

    </div>

{% empty %}

       <div class="card p-3 mb-3 bg-secondary">
        <blockquote class="blockquote mb-0 card-body">
          <p>No notes has been added yet

              
          </p>
         
        </blockquote>

      </div>
      
{% endfor %}






{% include "./notes_footer.html" %}
{% include "./footer.html" %}