<div class="container my-5 ">
 
<div class="card bg-info text-white" >
<h3 class="card-title text-center">
<div class="d-flex flex-wrap justify-content-center mt-2"  >
&nbsp&nbsp
 <a href="{% url 'notes_new' %}">  <i class="far fa-sticky-note fa-2x " style="color: white; padding-right: 2%;"></i></a>
 &nbsp&nbsp

<a href="{% url 'log' %}"><i class="fas fa-history fa-2x" style="color: white; padding-right: 2%;"></i></a>
&nbsp&nbsp
   
<div style="padding-top: 1%;">

<a><span class="badge hours"></span></a> -
<a><span class="badge min"></span></a> -
<a><span class="badge sec"></span></a>-
<a><span class="badge date"></span></a> -
<a><span class="badge month"></span></a> -
<a><span class="badge year"></span></a>
</div>

</div>
</h3>
</div>


    <hr class="my-5">


    <div class="card-columns text-white">